{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{% static 'subs/skeleton.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'subs/stylesheets.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title_block %}{% endblock %}</title>
  </head>

  <body>
    <div class="container">
      {% include "subs/base_nav.html" %}
      <div class="content">
        {% block body_block %}{% endblock %}
      </div>
    </div>
  </body>
</html>