.nav {
	padding-top: 10px;
	float: right;
}
.nav ul {
	text-align: center;
	font-size: 2rem;
}
.nav li {
	display: inline;
}
.nav ul li a {
	background-color: #fff;
	border: 1px solid #ccc;

	text-decoration: none;
	padding: 10px 20px;
	font-family: "Raleway";
	font-weight: 600;
}
.nav li a:hover {
	background-color: #DDD;
}
body {
	font-family: "Clear Sans", Arial, sans-serif;
}

.content {
	padding-top: 10%;
}

p {
	font-size: 2rem;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
